body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  margin: 0;

}
.profile {
  width: 50%;
  height: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.7); 

}

.profile ul  {
  padding: 0px;

  
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.profile h1 {
  margin: 0;
  color: #fff;
}
.profile p {
  margin: 5px 0;
  color: #fff;
}
.profile input[type="submit"] {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.profile input[type="submit"]:hover {
  background-color: #0056b3;
}
.profile a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.profile a:hover {
  background-color: #0056b3;
}
@media (min-width: 2560px) {
  .profile input[type="submit"] {
    transform: scale(1.01);
  }
  .profile, .profile * {
      transform: scale(1.3);
      margin: 50px;

  }
  .profile{

    height: auto;
  }
}