#openModal {
    position: absolute; /* Абсолютное позиционирование относительно ближайшего родителя с position: relative */
    top: 0; /* Расположение в верхней части */
    left: 50%; /* Смещение влево на 50% от ширины родителя */
    transform: translateX(-50%); /* Смещение кнопки назад на 50% её ширины, чтобы центрировать её точно */
    padding: 10px; /* Отступы для красоты */
    color: #fff; /* Белый цвет текста */
    background-color: #007BFF; /* Синий фон */
    border-radius: 5px; /* Скругленные углы */
    text-decoration: none; /* Убираем подчеркивание текста */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона */
    margin: 20px;

    }
    
    #openModal{
        background-color: #0056b3; /* Темно-синий фон при наведении */
    }

.comm {
    overflow: hidden; /* Добавляем свойство, чтобы содержимое не выходило за пределы блока */
    margin-bottom: 100px;
    position: relative;
    display: flex; /* Элементы внутри будут располагаться вертикально */
    flex-direction: column; /* Изменено с row на column */
    width: 88%; /* Блок будет занимать 88% ширины родительского элемента */
    margin: auto; /* Блок будет автоматически центрироваться по горизонтали */
    background-color: rgba(0, 0, 0, 0.9); /* Почти непрозрачный черный фон */
    border-radius: 15px; /* Скругленные углы блока */
    padding: 20px; /* Отступы внутри блока со всех сторон */
    box-sizing: border-box; /* Размеры блока включают в себя padding и border */
    align-items: flex-start; /* Содержимое блока выравнивается по верхнему краю */
    overflow-wrap: break-word; /* Если текст не помещается, он переносится на новую строку */
}
.butt {
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    padding: 20px 0; /* Добавляем вертикальный отступ для визуального пространства */
}


.comment-card {
    margin-top: 20px; /* Уменьшено с 60px для более плотного расположения комментариев */
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px; /* Отступ снизу после каждого комментария */
    padding: 15px;
    width: calc(100% - 40px); /* Уменьшаем ширину, чтобы учесть padding */
    padding-left: 20px; /* Отступ слева внутри содержимого */
    color: #ffffff; /* Цвет текста белый */
    font-family: 'Georgia', serif; /* Шрифт с засечками для текста */
}

  
  .avatar-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #007bff; /* Синий фон */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  .user-avatar {
    width: 100%;
    height: auto;
  }
  .comment-content {
    flex-grow: 1;
  }
  .username {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .timestamp {
    font-size: 0.8em;
    color: #777;
    margin-bottom: 10px;
  }
  .comment-text {
    font-size: 1em;
  }


  .modal-content {
    width: 50%; /* Блок займет половину ширины экрана */
    margin: auto; /* Блок будет автоматически центрироваться по горизонтали */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    padding: 20px; /* Внутренний отступ в 20 пикселей со всех сторон */
    border-radius: 10px; /* Скругленные углы блока */
    color: white; /* Белый цвет текста внутри блока */
    margin-top: 50px; /* Отступ сверху */
    display: flex; /* Используем flexbox для содержимого */
    flex-direction: column; /* Элементы будут идти друг за другом сверху вниз */
    align-items: center; /* Все элементы будут выровнены по центру */
    text-align: center; /* Текст будет выровнен по центру */
}

.modal-content label {
    font-size: 1.2em; /* Размер шрифта меток будет на 20% больше обычного */
    margin-bottom: 10px; /* Отступ снизу после каждой метки */
}

.modal-content textarea {
    color: #fff; /* Цвет текста будет белым */
    width: 80%; /* Ширина текстовых полей и области текста будет 80% от ширины блока */
    padding: 12px 20px; /* Внутренний отступ в полях ввода */
    margin: 8px 0; /* Вертикальный отступ между полями ввода */
    border: 1px solid #ccc; /* Граница вокруг полей ввода серого цвета */
    border-radius: 10px; /* Скругленные углы у полей ввода */
    background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный фон полей ввода */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень вокруг полей ввода для эффекта глубины */
}

.modal-content input[type="submit"] {
    padding: 10px 20px; /* Внутренний отступ в кнопке */
    background-color: #007BFF; /* Синий фон кнопки */
    color: #fff; /* Белый цвет текста кнопки */
    border-radius: 5px; /* Скругленные углы кнопки */
    text-align: center; /* Текст в кнопке будет выровнен по центру */
    margin-top: 20px; /* Отступ сверху для кнопки */
}

.modal-content input[type="submit"]:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении станет темно-синим */
}

.delete-button input[type="submit" i]{
  padding: 5px 10px; /* Внутренний отступ в кнопке */
  background-color: #007BFF; /* Синий фон кнопки */
  color: #fff; /* Белый цвет текста кнопки */
  border-radius: 5px; /* Скругленные углы кнопки */
  text-align: center; /* Текст в кнопке будет выровнен по центру */
}